Package: payment
Version: [[version]]
Section: mygov
Priority: optional
Architecture: all
Description: Rest service for processing card oayments
Maintainer: david.sinclairo@gov.scot
Depends: java8-runtime-headless
