<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="log" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

  <logger name="scot.gov.payment" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="log" />
  </root>

</configuration>
