[Unit]
Description=payment service
After=network.target

[Service]
User=payment
WorkingDirectory=/opt/payment
ExecStart=/opt/payment/run
EnvironmentFile=-/etc/default/payment
SyslogIdentifier=payment
Restart=on-failure
PrivateTmp=true
ProtectHome=true
ReadOnlyPaths=/
ReadWritePaths=/tmp
NoExecPaths=/tmp

[Install]
WantedBy=multi-user.target
